.node circle {
    stroke: #333333;
    stroke-width: 2px;
}
.node text {
    font: 12px sans-serif;
}
.link {
    fill: none;
    stroke: black;
    stroke-width: 4px;
}
.link.is-maternal-parent-of {
    stroke: #5DA047;
}
.link.is-paternal-parent-of {
    stroke: #3A6A93;
}
.link.is-selection-of {
  stroke: #999999;
  stroke-dasharray: 10,2;
}
.link.is-progeny-of-selfing-of {
  stroke-dasharray: 20,5,5,5;
}
.link.is-registered-cultivar-of {
  stroke: #777797;
}
#tree .node {
    cursor: pointer;
}

#block-menu-menu-tree-legend {
  width: 280px;
}