.node circle {
    stroke: #333333;
    stroke-width: 2px;
}
.node text {
    font: 12px sans-serif;
    fill: currentColor;
}
.link {
    fill: none;
    stroke: black;
    stroke-width: 4px;
}
.link.is-maternal-parent-of {
    stroke: #5DA047;
}
.link.is-paternal-parent-of {
    stroke: #3A6A93;
}
.link.is-selection-of {
  stroke: #999999;
  stroke-dasharray: 10,2;
}
.link.is-progeny-of-selfing-of {
  stroke-dasharray: 20,5,5,5;
}
.link.is-registered-cultivar-of {
  stroke: #777797;
}
#tree .tree-node {
    cursor: pointer;
}

.sidebar.content-sidebar-bottom {
  width: 100%;
}

#block-menu-menu-tree-description {
  margin-left: 10px;
  width: 100%;
  border-color: #FFF;
  width: auto;
  overflow: hidden;
}
#block-menu-menu-tree-legend {
  width: 280px;
  float: right;
  margin-right: 10px;
}

/**
 * Popover
 */
.popover-content {
  padding: 10px;
  margin: 0;
}