
.tripald3-diagram {
  width: 500px;
}

/**
 * Legend
 */
.tripald3-legend {
  font-style: italic;
  font-size: 0.9em;
}
.tripald3-title {
  font-weight: bold;
}

/**
 * Key
 */
.tripald3-key .key-item {
  font-size: 0.9em;
}

/**
 * Pedigree
 */
.node circle {
    stroke: #333333;
    stroke-width: 2px;
}
.node text {
    fill: currentColor;
}
.link {
    fill: none;
    stroke-width: 4px;
}
svg.tripald3-tree .tree-node {
    cursor: pointer;
}

/* Justify figure legend text */
#tripald3-pedigree-legend {
  text-align: justify;
}

/* Make border of figure key legend box sharp/crisp */
#parentage-pedigree-top-box-containe rect {
  shape-rendering: crispEdges;
  stroke-width: 1px;
}


/**
 * Watermark rule.
 */
.tripald3-watermark {
  background-repeat: no-repeat;
  background-position: center 40%;

  pointer-events: none;
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
}

.tripald3-default-watermark {
  background-image: url('../templates/image/watermark.png');
}
