{#
/**
 * @file
 * Create a chart using Tripal D3
 */
#}

<div id="tripald3-simplepie" class="tripald3-diagram">
  <!-- Javascript will add the Simple Pie Chart, Title and Figure legend here -->
</div>