{#
/**
 * @file
 * Create a chart using Tripal D3
 */
#}

<div id="tripald3-simpledonut" class="tripald3-diagram">
  <!-- Javascript will add the Simple Donut Chart, Title and Figure legend here -->
</div>