{#
/**
 * @file
 * Create a chart using Tripal D3
 */
#}

<div id="tripald3-multiseriesdonut" class="tripald3-diagram">
  <!-- Javascript will add the Simple Multi-series Donut Chart, Title and Figure legend here -->
</div>