{#
/**
 * @file
 * Default theme implementation of Tripal D3 Demo page.
 */
#}

<h2>Demonstrations</h2>

<p>This page demonstrates the various diagrams available through this module.
  Remember that this module simply provides an API to develop common diagrams
  and,<br /> as such, none of these diagrams are available to your users without
  you first developing pages or fields that connect data to them.</p>


<!-- PIE Charts -->

<br />
  <h3>&bull; Watermark Diagram</h3>
  <p>This example shows a pie chart that has watermark overlay to visually indicate 
  proprietary content.</p>

  <div id="tripald3-multidonut2" class="tripald3-diagram">
    <!-- Javascript will add the Simple Pie Chart, Title and Figure legend here -->
  </div>
<br />

<br />
  <h3>&bull; Simple Pie Charts</h3>
  <p>This following two figures are simple pie charts ideal for showing proportions or ratios. 
  The first is a traditional pie chart and the second is a donut chart.</p>

  <div id="tripald3-simplepie" class="tripald3-diagram" style="float: left">
    <!-- Javascript will add the Simple Pie Chart, Title and Figure legend here -->
  </div>

  <div id="tripald3-simpledonut" class="tripald3-diagram" style="float: left">
    <!-- Javascript will add the Simple Donut Chart, Title and Figure legend here -->
  </div>

  <div style="clear: left"></div>
<br />

<br />
  <h3>&bull; Multi-series Donut Chart</h3>
  <p>The following chart allows users to compare the ratios between multiple
  series of data.</p>

  <div id="tripald3-multidonut" class="tripald3-diagram">
    <!-- Javascript will add the Multiple Series Donut Chart, Title and Figure legend here -->
  </div>
<br />


<!-- BAR Charts -->


<br />
  <h3>&bull; Simple Bar Chart</h3>
  <p></p>

  <div id="tripald3-barchart" class="tripald3-diagram">
    <!-- Javascript will add a Simple Bar Chart, Title and Figure legend here -->
  </div>
<br />


<!-- PEDIGREE Diagram -->


<br />
  <h3>&bull; Pedigree Diagram</h3>
  <p>This diagram was developed to mimic plant breeder pedigrees with additional
  features such as collapsible nodes and colour-coded relationships.</p>

  <div style="float: left; margin-right: 10%"> 
    <h4>Pedigree with keyPosition top</h4>
    <div id="tripald3-pedigree" class="tripald3-diagram">
      <!-- Javascript will add the Pedigree Diagram, Title and Figure legend here -->
    </div>
  </div>
  
  <div style="float: left;"> 
    <h4>Pedigree with keyPosition right</h4>
    <div id="tripald3-pedigree-right" class="tripald3-diagram">
      <!-- Javascript will add the pedigree diagram and figure legend here -->
    </div>
  </div>

  <div style="clear: left"></div>
<br />